<div class="form-group-center  col-6" >
<h5>Video Edit Form</h5>

<div class ="video">
        <div class="card card-show mb-3 " style="width: 100%">
          <div class="embed-responsive embed-responsive-4by3">
            <%=@video.src_modify(@video.video_src).construct_iframe.html_safe%>
          </div>
        </div>
</div>
<%= form_for @video do |f|%>
  <%=f.label :video_file_name%>
  <%=f.text_field :video_file_name%>
  </br>
  <%=f.label :description%>
  <%=f.text_field :description%>
  </br>
  <%=f.label :video_src%>
  <%=f.text_field :video_src%>
  </br>
  <%= f.label :board %>
  <%= f.collection_select( :board_id, @boards, :id, :name )%>

  </br>
  <%=f.submit%>
  <%= button_to 'Delete', video_path(@video),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<%end%>
</div>