<div class="form-group-center  col-6" >

<h3>Board : <%=@board.name%></h3>
<%= form_for @board do |f|%>
  <%=f.label :name%>
  <%=f.text_field :name%>
  </br>
  <%= f.check_box :public, include_hidden: true %>
  <%= f.label :public %>
  </br>
  <%=f.submit%>
  <%= button_to 'Delete', board_path(@board),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<%end%>
</div>