<h3>Board : <%=@board.name%></h3>
<div class ="row">
  <% @board.videos.each do |video|%>  
    <div class ="col-md-3">
      
      <div class ="video">
        <h3>Video_file_name  : <%=video.video_file_name%></h3>
        <p>Description : <%=video.description%></p>
        <p>URL : <%=video.video_src%></p>
        <div class="embed-responsive embed-responsive-4by3">
          <%=video.src_modify(video.video_src).construct_iframe.html_safe%>
        </div>
        <%= button_to 'Delete', video_path(video),
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    class: "btn btn-primary"%>
        
        <div class="card" style="width: 18rem;">
          <div class="embed-responsive embed-responsive-4by3">
            <%=video.src_modify(video.video_src).construct_iframe.html_safe%>
          </div>
          
        </div>

      </div>

    </div>
  <%end%>
</div>



